In [14]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [44]:
order_data = pd.read_csv('Cleaned Dataset/Operations Department/New Files/cleaned_order_data.csv')

In [45]:
sorted_order_data = order_data.sort_values(by='order_id')
sorted_order_data

,order_id,user_id,estimated arrival,transaction_date
60222,00002264-81a7-43b0-9864-f01e255ccdb2,CUSTOMER01560,2020-07-08,2020-06-23
345615,00007f97-6778-4beb-a73c-c5a32939ff85,CUSTOMER02034,2022-09-22,2022-09-16
95346,0000b7e2-bde6-4b89-9d63-44bd1e1391c2,CUSTOMER02147,2020-10-13,2020-10-01
316823,0000c94f-7c05-49a4-97ac-528ad3db8211,CUSTOMER03451,2022-07-09,2022-06-26
346582,000124ad-7d0b-4f5e-8150-a26d70bafc26,CUSTOMER00350,2022-09-22,2022-09-19
...,...,...,...,...
79450,ffff9334-6e84-4ff9-a331-902db388756b,CUSTOMER01134,2020-08-26,2020-08-17
398953,ffffa74a-73d3-47c3-9d68-a665ba3eee4f,CUSTOMER01087,2023-03-02,2023-02-15
220918,ffffb0d7-696d-4a45-82df-d7ccb7d10d41,CUSTOMER03691,2021-10-08,2021-09-25
447597,ffffbc2f-d3c0-4ef7-adcb-2e0e60901ffe,CUSTOMER00920,2023-07-07,2023-07-04
214694,ffffd311-3058-425a-9dcf-b7edb030aaa3,CUSTOMER00950,2021-09-22,2021-09-07

In [31]:
line_item_data_products = pd.read_csv('Cleaned Dataset/Operations Department/New Files/cleaned_line_item_data_products.csv')

In [32]:
line_item_data_prices = pd.read_csv('Cleaned Dataset/Operations Department/New Files/cleaned_line_item_data_prices.csv')

In [117]:
del combined

In [118]:
combined = line_item_data_products.merge(
    line_item_data_prices,
    left_index=True,
    right_index=True,
    how="left"
)

In [95]:
print(len(combined))

1997174

In [96]:
null_count = combined.isnull().sum()
print(null_count)

order_id_x      0
product_name    0
product_id      0
order_id_y      0
price           0
quantity        0
dtype: int64

In [119]:
combined = combined.drop(columns={'order_id_y'})

In [120]:
combined = combined.rename(columns={'order_id_x':'order_id'})

In [81]:

combined

,order_id,product_name,product_id,price,quantity
0,8d8acbac-ccbb-4609-a978-98dee3ac3088,Grandmas swedish thin pancakes,PRODUCT00189,12.81,6
1,59e4c308-5262-486d-9f1a-12b1278e3c44,Blackberry breakfast bars,PRODUCT00651,14.00,6
2,30fc1b76-c488-4077-8d70-3236e3afc990,Moms cheat doughnuts,PRODUCT00295,6.78,4
3,6b273d38-b472-4bb2-8b74-a26705c707fa,Baked swiss cheese omelet,PRODUCT00199,8.72,4
4,6b273d38-b472-4bb2-8b74-a26705c707fa,Egg flowers,PRODUCT00085,8.83,5
...,...,...,...,...,...
1997169,8a985165-e1b4-4f91-a8c4-86f54c806a9c,tomato,PRODUCT00397,17.28,5
1997170,7285b9ed-a45a-4aa0-86fb-2abae50780f8,tomato,PRODUCT00397,17.28,5
1997171,35ad8f1d-9014-4430-bed3-f803b46d48a6,dehumidifier,PRODUCT00079,38.07,6
1997172,38320c44-fea2-46b1-adfc-c4be22865c78,rice,PRODUCT00328,17.28,3
1997173,0446efea-bbb6-4d85-aa6e-51381f440595,rice,PRODUCT00328,17.28,4

In [130]:
print(len(order_data))

500000

In [121]:
combined = combined.merge(
    order_data,
    left_on="order_id",
    right_on="order_id",
    how="left"
)

In [100]:
print(len(combined))

1997174

In [101]:
null_count = combined.isnull().sum()
print(null_count)

order_id             0
product_name         0
product_id           0
price                0
quantity             0
user_id              0
estimated arrival    0
transaction_date     0
dtype: int64

In [122]:
campaign = pd.read_csv('Cleaned Dataset/Marketing Department/New Files/cleaned_transactional_campaign_data.csv')

In [103]:
print(len(campaign))

124887

In [123]:
print(campaign[campaign['order_id'].duplicated()])

Empty DataFrame
Columns: [campaign_id, order_id, transaction_date, estimated arrival, availed]
Index: []

In [124]:
combined = combined.merge(
    campaign,
    left_on=['order_id','transaction_date','estimated arrival'],
    right_on=['order_id','transaction_date','estimated arrival'],
    how="left"
)

In [125]:
combined['campaign_id'] = combined['campaign_id'].fillna('No Campaign')
combined['availed'] = combined['availed'].fillna('Not Applicable')

In [126]:
delays = pd.read_csv('Cleaned Dataset/Operations Department/New Files/cleaned_order_delays.csv')

In [111]:
print(len(delays))

200000

In [127]:
combined = combined.merge(
    delays,
    left_on=["order_id"],
    right_on=["order_id"],
    how="left"
    
)

In [129]:
null_count = combined.isnull().sum()
print(null_count)

order_id                   0
product_name               0
product_id                 0
price                      0
quantity                   0
user_id                    0
estimated arrival          0
transaction_date           0
campaign_id                0
availed                    0
delay in days        1198649
dtype: int64

In [128]:
combined

,order_id,product_name,product_id,price,quantity,user_id,estimated arrival,transaction_date,campaign_id,availed,delay in days
0,8d8acbac-ccbb-4609-a978-98dee3ac3088,Grandmas swedish thin pancakes,PRODUCT00189,12.81,6,CUSTOMER00810,2023-10-20,2023-10-11,No Campaign,Not Applicable,5.0
1,59e4c308-5262-486d-9f1a-12b1278e3c44,Blackberry breakfast bars,PRODUCT00651,14.00,6,CUSTOMER00810,2023-06-10,2023-06-05,No Campaign,Not Applicable,NaN
2,30fc1b76-c488-4077-8d70-3236e3afc990,Moms cheat doughnuts,PRODUCT00295,6.78,4,CUSTOMER00810,2021-02-17,2021-02-06,No Campaign,Not Applicable,5.0
3,6b273d38-b472-4bb2-8b74-a26705c707fa,Baked swiss cheese omelet,PRODUCT00199,8.72,4,CUSTOMER00810,2021-11-02,2021-10-18,CAMPAIGN00002,No,NaN
4,6b273d38-b472-4bb2-8b74-a26705c707fa,Egg flowers,PRODUCT00085,8.83,5,CUSTOMER00810,2021-11-02,2021-10-18,CAMPAIGN00002,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1997169,8a985165-e1b4-4f91-a8c4-86f54c806a9c,tomato,PRODUCT00397,17.28,5,CUSTOMER00472,2020-12-21,2020-12-10,No Campaign,Not Applicable,7.0
1997170,7285b9ed-a45a-4aa0-86fb-2abae50780f8,tomato,PRODUCT00397,17.28,5,CUSTOMER00472,2021-11-12,2021-10-30,CAMPAIGN00002,Yes,0.0
1997171,35ad8f1d-9014-4430-bed3-f803b46d48a6,dehumidifier,PRODUCT00079,38.07,6,CUSTOMER00472,2023-10-08,2023-09-29,No Campaign,Not Applicable,NaN
1997172,38320c44-fea2-46b1-adfc-c4be22865c78,rice,PRODUCT00328,17.28,3,CUSTOMER00472,2022-01-14,2022-01-02,CAMPAIGN00004,Yes,4.0
1997173,0446efea-bbb6-4d85-aa6e-51381f440595,rice,PRODUCT00328,17.28,4,CUSTOMER00472,2020-11-25,2020-11-21,No Campaign,Not Applicable,9.0

In [113]:
print(len(combined))

1997174

In [131]:
order_with_merchants = pd.read_csv('Cleaned Dataset/Enterprise Department/New Files/cleaned_order_with_merchant_list.csv')

In [133]:
combined = combined.merge(
    order_with_merchants,
    left_on=["order_id"],
    right_on=["order_id"],
    how="left"
    
)

In [134]:
print(len(combined))

1997174

In [135]:
null_count = combined.isnull().sum()
print(null_count)

order_id                   0
product_name               0
product_id                 0
price                      0
quantity                   0
user_id                    0
estimated arrival          0
transaction_date           0
campaign_id                0
availed                    0
delay in days        1198649
merchant_id                0
staff_id                   0
dtype: int64

In [174]:
product_sales_fact = combined.drop(columns=['estimated arrival', 'delay in days', 'price','product_name']).copy()

In [176]:
product_sales_fact = product_sales_fact.sort_values(by='transaction_date')

In [177]:
product_sale_ids= ['PS{:07d}'.format(i) for i in range(1, len(product_sales_fact) + 1)]

In [178]:
product_sales_fact.insert(0,'product_sale_id',product_sale_ids)

In [ ]:
product_sales_fact

,product_sale_id,order_id,product_id,quantity,user_id,transaction_date,campaign_id,availed,merchant_id,staff_id
579577,PS0000001,2f0ee817-4ede-4aa6-94e1-0daaf9cd64a7,PRODUCT00500,2,CUSTOMER04725,2020-01-01,No Campaign,Not Applicable,MERCHANT01591,STAFF04782
1797774,PS0000002,fea759c5-b8f7-46d6-9f5d-dcf681e53cc5,PRODUCT00500,4,CUSTOMER04245,2020-01-01,No Campaign,Not Applicable,MERCHANT02879,STAFF02626
153112,PS0000003,b11f56b6-397b-49af-baca-f68e4b460d74,PRODUCT00434,1,CUSTOMER00661,2020-01-01,No Campaign,Not Applicable,MERCHANT03929,STAFF03685
1973620,PS0000004,0fddcc65-2b97-4b22-8075-b2da05e89134,PRODUCT00515,6,CUSTOMER00984,2020-01-01,No Campaign,Not Applicable,MERCHANT01607,STAFF00421
1973616,PS0000005,0fddcc65-2b97-4b22-8075-b2da05e89134,PRODUCT00556,4,CUSTOMER00984,2020-01-01,No Campaign,Not Applicable,MERCHANT01607,STAFF00421
...,...,...,...,...,...,...,...,...,...,...
688795,PS1997170,34362454-cd39-4dca-a31f-8cc603d9fb09,PRODUCT00098,4,CUSTOMER01037,2023-12-30,No Campaign,Not Applicable,MERCHANT00603,STAFF01757
688835,PS1997171,34362454-cd39-4dca-a31f-8cc603d9fb09,PRODUCT00153,2,CUSTOMER01037,2023-12-30,No Campaign,Not Applicable,MERCHANT00603,STAFF01757
688838,PS1997172,34362454-cd39-4dca-a31f-8cc603d9fb09,PRODUCT00151,1,CUSTOMER01037,2023-12-30,No Campaign,Not Applicable,MERCHANT00603,STAFF01757
67828,PS1997173,76817ede-e6b0-4d76-b06c-c6f1b48d9c17,PRODUCT00236,2,CUSTOMER01374,2023-12-30,No Campaign,Not Applicable,MERCHANT01414,STAFF00945
568667,PS1997174,49c3eaf5-6b30-40c3-bc3d-45649dbf9207,PRODUCT00176,1,CUSTOMER02661,2023-12-30,No Campaign,Not Applicable,MERCHANT02423,STAFF04398