In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)  # No truncation for column values
pd.set_option('display.expand_frame_repr', False)

In [15]:
user_data = pd.read_csv('../New Files/cleaned_user_data.csv')

In [ ]:
user_lookup = user_data[['old_id','user_id','name']].copy()
user_lookup.rename(columns={'user_id':'new_id'},inplace=True)
user_lookup

In [34]:
user_credit_card = pd.read_pickle('../../../Raw Dataset/Customer Management Department/user_credit_card.pickle')
print(len(user_credit_card))

5000

In [35]:
updated_user_credit_card = user_credit_card.merge(
    user_lookup[['old_id','new_id','name']],
    left_on=['user_id','name'],
    right_on=['old_id','name'],
    how='left'
)

In [37]:
updated_user_credit_card['user_id'] = updated_user_credit_card['new_id']
updated_user_credit_card = updated_user_credit_card.sort_values('user_id')
updated_user_credit_card

        user_id                name  credit_card_number   issuing_bank     old_id     new_id
2547  USER00001     Melisa Jacobson          2619895068       eastwest  USER42753  USER00001
4483  USER00002   Garfield Reynolds          2177046811            bdo  USER38021  USER00002
3533  USER00003      Amos Marquardt             2632753      metrobank  USER29148  USER00003
1633  USER00004   Brendan Halvorson          3064480872  robinsonsbank  USER63885  USER00004
3248  USER00005         Gerda Bauch          2205643463      chinabank  USER20829  USER00005
...         ...                 ...                 ...            ...        ...        ...
880   USER04996     Rickie Johnston          2795334043            bpi  USER42291  USER04996
1408  USER04997  Fabiola Swaniawski          3072555329            bdo  USER06245  USER04997
1393  USER04998         Bria Reilly          1367930048       mayabank  USER49691  USER04998
629   USER04999           Alex Dare          3764404653       mayabank  USER35826  USER04999
107   USER05000    Mohamed McKenzie           170252896            bpi  USER20411  USER05000

[5000 rows x 6 columns]